[Unit]
Description=OpsDuty ITAM Discovery Scheduler
After=network-online.target

[Service]
ExecStart=/root/autointelli/bin/python /usr/local/autointelli/opsduty-server/itam_discovery_service.py
WorkingDirectory=/usr/local/autointelli/opsduty-server
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
