<h2 style="color:#d9534f;">Port Down Alert</h2>

<p><strong>Summary:</strong> Port Down Alert for <strong>{{ hostname }} : {{ port }}</strong>. Here are the details.</p>

<table style="font-size:15px; margin-top:15px;">
    <tr>
        <td><strong>Alert Type</strong></td>
        <td>: Critical</td>
    </tr>
    <tr>
        <td><strong>Alert Time</strong></td>
        <td>: {{ alert_time }}</td>
    </tr>
    <tr>
        <td><strong>Hostname</strong></td>
        <td>: {{ hostname }}</td>
    </tr>
    <tr>
        <td><strong>Port</strong></td>
        <td>: {{ port }}</td>
    </tr>
</table>

<p style="margin-top:30px;">
Regards,<br>
Autointelli Notifications.
</p>

