<h2 style="color:#27ae60;">Service Recovery Notification</h2>

<p><b>Summary:</b> Service <b>{{ service_name }}</b> is <b>RUNNING</b> again on <b>{{ hostname }}</b>.</p>

<table style="border-collapse:collapse; margin-top:12px; font-size:15px;">
  <tr><td><b>Alert Type</b></td><td>: Recovery</td></tr>
  <tr><td><b>Recovery Time</b></td><td>: {{ alert_time_ist }}</td></tr>
  <tr><td><b>Hostname</b></td><td>: {{ hostname }}</td></tr>
  <tr><td><b>Service</b></td><td>: {{ service_name }}</td></tr>
</table>

<br>
<p>Regards,<br>Autointelli Notifications.</p>

